body {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	margin: 0;
}

a {
	text-decoration: none;
}

header {
  background-color: red;
  padding: 5px 20px 0 5px;
}

header h1 {
  display: inline-block;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 72px;
  font-weight: 200;
  margin: 5px 20px;
}

header h1 a {
  color: inherit;
}

header h1 a:hover {
  text-decoration: none;
}

nav {
  background-color: #333;
  color: white;
  margin: 0 -20px;  /* negative margin here makes up for header padding */
  font-size: 28px;
  font-weight: 200;
}

.navbar-list {
  list-style-type: none;
  padding: 0;
  margin: 0 20px;
}

.navbar-item {
  display: inline;
}

.navbar-item a {
  display: inline-block;
  padding: 10px 20px;
  color: white;
}

.navbar-item:hover a {
  background-color: #444;
}

.navbar-menu {
  position: relative;
}

.navbar-menu-list {
  position: absolute;
  left: 0;
  right: 0;
  display: none;
  padding: 0;
  list-style-type: none;
  z-index: 10;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.25);
}

.navbar-menu-list,
.navbar-menu-list li {
  background-color: #444;
}

.navbar-menu:hover .navbar-menu-list {
  display: initial;
}

.navbar-menu-list li:hover,
.navbar-menu-list li:hover a {
  background-color: #565656;
}

.navbar-right {
  float: right;
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px 100px 20px;
  min-height: 300px;
}

a:active .rss-article {
	background-color: rgba(#b55b5b, 0.6);
}

.rss-article {
  background-color: white;
  position: relative;
  width: 70%;
  min-height: 300px;
  margin: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 24px;
  font-weight: 200;
  color: black;
  word-wrap: break-word;
  border-radius: 25px;
  border-color: #d6d6d6;
  border-style: solid;
  box-shadow: 10px 10px 5px #888888;
}

.rss-article h2 {
  margin: 20px;
  text-align: center;
}

.rss-article-body {
  padding: 0 20px
}

.rss-article-list {
  list-style-type: circle;
}

.rss-article p {
  margin: 15px 0;
}

.rss-article p.indent-wrapped {
  padding-left: 50px;
  text-indent: -50px;
}

.rss-article .when,
.rss-article .where,
.rss-article .who {
  font-weight: bold;
}

.rss-article .dismiss-button {
  font-family: sans-serif;
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 30px;
  display: none;
  cursor: pointer;
}

.rss-article:hover .dismiss-button {
  display: initial;
}

.rss-article-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.rss-article-input-element label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.rss-article-input-element input,
.rss-article-input-element textarea {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.rss-article-input-element textarea {
  min-height: 64px;
}

.rss-article-input-element.required label::after {
  content: ' *';
  color: red;
}

.info-container {
  flex: 1 100%;
  text-align: center;
}

.info-container h2,
.info-container h3 {
  margin: 0;
  font-weight: lighter;
}

.info-container h2 {
  font-size: 80px;
}

.info-container h3 {
  font-size: 32px;
}

.homepage-icon {
  font-size: 175px;
  line-height: 175px;
  color: #333;
}
